body {
  font-family: "Roboto";
  font-size: 16px;
}

::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-color: #959595;
  background-clip: padding-box;
  transform: translate(-4px);
  border-radius: 12px;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  background-color: #f3f3f3;
  border: 4px solid transparent;
  border-radius: 12px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  display: none;
}

.container {
  width: 500px;

  display: flex;
  flex-direction: column;
  padding: 8px;
}

.logo {
  width: 150px;
  margin: 10px auto 0;
}

button {
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;

  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button[disabled] {
  color: #111;
  border-color: #aaa;
  background-color: #aaa;
}

#clean-btn {
  min-width: 50%;
  margin: auto;

  display: block;
}

#add {
  display: flex;
}

#add-input {
  flex: 1;
  font-family: "Roboto";
  margin-right: 8px;
  border: 0;
  border-bottom: 1px solid black;
}

#reset {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
  margin-bottom: 8px;
  padding: 0px 8px;
  font-size: 0.8em;
}

#pages-list {
  max-height: 300px;
  overflow: auto;
}
